{% extends './statistika.html' %}

{% block admin %}
<div class="btn-group-vertical">
    {% block vlasnik-izbornik %}
    {% endblock %}
    <button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal"
            data-target="#exibitModal">
        <span class="fa fa-plus"></span>
        Dodaj izložak
    </button>
    <button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal"
            data-target="#groupModal">
        <span class="fa fa-plus"></span>
        Dodaj grupu
    </button>
</div>

<div class="btn-statistika">
    <a class="btn btn-outline-dark" href="{% url 'izlosci:statistika' %}" role="button">Statistika</a>
</div>

<div class="modal fade" id="exibitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h5>Dodavanje izloška</h5>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="nameExibit">Naziv</label>
                        <input type="text" class="form-control" id="nameExibit" placeholder="Upišite naziv izloška">
                    </div>
                    <div class="form-group">
                        <label for="description">Opis</label>
                        <textarea class="form-control" id="description" placeholder="Upišite opis izloška"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="grupaIzloska">Grupa</label>
                        <select multiple class="form-control" id="grupaIzloska">
                            {% for grupa in sveGrupe %}
                            <option>{{ grupa.nazivgrupa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Slika</label>
                        <input type="file" class="form-control-file" id="image">
                    </div>
                    <div class="form-group">
                        <label for="audio">Zvučni zapis</label>
                        <input type="file" class="form-control-file" id="audio">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success" value="Dodaj izložak">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h5>Dodavanje grupe izložaka</h5>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="nameGroup">Naziv</label>
                        <input type="text" class="form-control" id="nameGroup" placeholder="Upišite naziv grupe">
                    </div>
                    <div class="form-group">
                        <label for="nadgrupa">Nadgrupa</label>
                        <select multiple class="form-control" id="nadgrupa">
                            {% for grupa in sveGrupe %}
                            {% if grupa.idgrupa == grupa.idnadgrupa %}
                            <option>{{ grupa.nazivgrupa }}</option>
                            {% endif %}}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success" value="Dodaj grupu izložaka">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block vlasnik-modal %}
{% endblock %}
{% endblock %}