{% extends 'base.html' %}

{% block main %}
<!--prikaz statistike-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
            <h4>Broj trenutno aktivnih korisnika: {{ prijavljeni_korisnici }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
            <h4>Ukupna posjećenost: {{ ukupno }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h3>Statistika posjećenosti</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center sort-link"><a
                            href="{% url 'statistika:statistika_sort' 'posjecenost_stranica' %}">Stranica</a></th>
                    <th class="text-center sort-link"><a
                            href="{% url 'statistika:statistika_sort' 'posjecenost_prikaz' %}">Broj prikaza</a></th>
                    <th class="text-center sort-link"><a
                            href="{% url 'statistika:statistika_sort' 'posjecenost_vrijeme' %}">
                        Vrijeme zadržavanja</a></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center cell">Početna Stranica</th>
                        <th class="text-center cell">{{pocetna.brojprikaza}}</th>
                        <th class="text-center cell">{{pocetna.vrijemezadrzavanja}}</th>
                    </tr>
                    {% for s in statPosj %}
                            <tr>
                                <td class="text-center cell">{{ s.0 }}</td>
                                <td class="text-center cell">{{ s.1 }}</td>
                                <td class="text-center cell">{{ s.2 }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h3>Statistika reprodukcija</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center sort-link"><a
                            href="{% url 'statistika:statistika_sort' 'reprodukcija_stranica' %}">Stranica</a></th>
                    <th class="text-center sort-link"><a
                            href="{% url 'statistika:statistika_sort' 'reprodukcija_korisnik' %}">
                        Broj reprodukcija korisnika</a></th>
                    <th class="text-center sort-link"><a
                            href="{% url 'statistika:statistika_sort' 'reprodukcija_ukupno' %}">Ukupno reprodukcija</a>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for izlozak in izlosci %}
                    <tr>
                        <td class="text-center cell">{{ izlozak.nazivizlozak }}</td>
                        <td class="text-center cell">{{ izlozak.idzvucnizapis.brojkorisnika }}</td>
                        <td class="text-center cell">{{ izlozak.idzvucnizapis.brojreprodukcija }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}