#name {
    margin-top: 30px;
    font-family: 'Quattrocento', serif;
    font-size: 30px;
}

.btn.btn-primary {
    text-align: left;
    border-color: #38578b;
}

.btn-group-vertical, #links {
    margin-left: 15px;
    margin-bottom: 20px;
}

.sort-link a {
    font-size: 20px;
    color: black; !important
}

.sort-link a:hover {
    text-decoration: none;
    color: black; !important
    font-weight: bold;
}

.cell {
}