.btn-admin-izbornik {
    margin-top: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

.btn-group-vertical button {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
}

.btn-statistika {
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
}

.btn-statistika a {
    font-size: 18px;
}

.promo-materijali {
    margin-top: 11px;
    margin-bottom: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    font-size: 18px;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 135px;
}