.card-container {
    padding: 0;
}

.card {
    margin-bottom: 40px;
}

.card-title {
    margin: 0;
    padding-top: 2px;
    padding-left: 10px;
    font-weight: 600;
    color: #7c0808;
}

.image img {
    max-height: 100%;
    max-width: 100%;
}

.description p {
    margin: 0;
}

.card-btn {
    background: #ffffff;
    border: 0;
}

@media (min-width: 1200px) {
    .card {
        height: 260px;
    }
    .image {
        height: 226px;
        padding-left: 2px;
        padding-right: 5px;
    }
    .description p {
        height: 183px;
        font-size: 1.18vw;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
    .card {
        height: 430px;
    }
    .image {
        height: 200px;
    }
    .description p {
        height: 153px;
        font-size: 1.6vw;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .card {
        height: 260px;
    }
    .image {
        height: 226px;
        padding-left: 2px;
        padding-right: 5px;
    }
    .description p {
        height: 183px;
        font-size: 2.42vw;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .card {
        height: 430px;
    }
    .image {
        height: 200px;
    }
    .description p {
        height: 153px;
        font-size: 2.66vw;
    }
}

@media (max-width: 575.99px) {
    .card {
        height: 430px;
    }
    .image {
        height: 200px;
    }
    .description p {
        height: 153px;
        font-size: 3.96vw;
    }
}

