#izlozak-header {
    margin-bottom: 15px;
    margin-left: 0;
}

#izlozak-header h2 {
    margin-right: 10px;
}

.image-izlozak {
    height: 400px;
}

.image-izlozak img {
    max-height: 100%;
    max-width: 100%;
}

.left {
    float: left;
    padding-right: 10px;
}

#opis {
    font-size: 20px;
}
