.header {
    border-bottom: 1px solid #7c0808;
    /*position: fixed;*/
    background-color: white;
}

.search {
    margin-top: 30px;
    font-family: 'Cormorant Garamond', serif;
}

.search-btn {
    background: none;
    border: 1px solid #ced4da;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #7c0808;
}

.logo {
    font-family: 'Alex Brush', cursive;
    font-size: 65px;
    color: #000000;
}

.logo:hover, .logo:visited, .logo:active {
    font-family: 'Alex Brush', cursive;
    font-size: 65px;
    color: #000000;
    text-decoration: none;
}

#login {
    margin-top: 23px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
}

.user-dropdown {
    margin-top: 23px;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: #7c0808; !important;
}

#user-dropdown-toggle, #user-dropdown-toggle:hover, #user-dropdown-toggle:visited, #user-dropdown-toggle:active {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: #7c0808; !important
}

#dropdown-elements {
    border: 1px solid #ced4da;
}

#dropdown-elements>li>a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: black; !important
}

#dropdown-elements>li>a:hover, #dropdown-elements:visited, #dropdown-elements:active {
    text-decoration: none;
    font-size: 20px;
    color: black; !important
}

#dropdown-elements>li>a:hover {
    font-weight: bold;
}

#loginModal {
    font-family: 'Cormorant Garamond', serif;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    margin: 0;
    font-size: 20px;
}

.submit-btn {
    font-size: 22px;
}

.page-body {
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 0;
    font-family: 'Cormorant Garamond', serif;
    /*z-index: -1; position:absolute;*/
}

.main-wrapper {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0 !important;
}

.navbar-light {
    padding: 0;
    color: #7c0808; !important;
}

.sidebar span {
    color: #7c0808;
}

.sidebar-wrapper {
    padding: 0;
}

.navbar-brand {
    margin:0;
    font-weight: 500;
    font-size: 23px;
    color: #7c0808; !important;
}

.navbar-toggler {
    border-color: #343a40;
}

.dropdown-menu {
    border: 0;
    margin: 0;
    padding: 0;
}

.btn-nav {
    background: #ffffff;
    border: 0;
    width: 120px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.btn-nav:hover {
    color: #ffffff;
    background-color: #343a40;
}

.btn-expand {
    border: 0;
}

.btn-expand:hover {
    color: #ffffff;
    background-color: #343a40;
}

.btn-nav-sub {
    margin-left: 30px;
    background: #ffffff;
    border: 0;
    width: fit-content;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.btn-nav-sub:hover {
    color: #ffffff;
    background-color: #343a40;
}

.modal {
    font-family: 'Cormorant Garamond', serif;
}