.promo-materijali {
    margin-top: 10px;
    margin-bottom: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
}

.promo-materijali {
    font-size: 18px;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
}