.btn-admin-izbornik {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    margin-bottom: 5px;
}

#adminIzbornik {
    position: sticky;
    position: -webkit-sticky;
    top: 53px;
}

.btn-group-vertical button {
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
}

.btn-statistika {
    margin-top: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 240px;
}

.btn-statistika a {
    font-size: 18px;
}

.promo-materijali {
    margin-top: 10px;
    margin-bottom: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 290px;
    font-size: 18px;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 335px;
}