{% load izlosci_extra %}
<button class="btn btn-outline-dark dropdown-toggle btn-admin-izbornik" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
    Izbornik
</button>
<div class="dropdown-menu">
    <div class="btn-group-vertical">
        {% if user|has_group:'vlasnik' %}
            {% include 'izlosci/vlasnikButtonsView.html' %}
        {% endif %}
        <button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal"
                data-target="#exibitModal">
            <span class="fa fa-plus"></span> Dodaj izložak
        </button>
        <button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal"
                data-target="#groupModal">
            <span class="fa fa-plus"></span> Dodaj grupu
        </button>
        <button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal"
                data-target="#promoModal">
            <span class="fa fa-plus"></span> Dodaj promo materijal
        </button>
    </div>
</div>

{% if user|has_group:'vlasnik' %}
    {% include 'izlosci/vlasnikModalsView.html' %}
{% endif %}

<div class="modal fade" id="exibitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h3>Dodavanje izloška</h3>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form" action="{% url 'izlosci:dodaj_izlozak' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ dodaj_izlozak_form.non_field_errors }}
                    <div class="form-group" >
                        {{ dodaj_izlozak_form.nazivizlozak.errors }}
                        <label for="{{ dodaj_izlozak_form.izlozaknaziv.idNazivIzlozak }}">Naziv</label>
                        {{ dodaj_izlozak_form.nazivizlozak }}
                    </div>
                    <div class="form-group">
                        {{ dodaj_izlozak_form.opis.errors }}
                        <label for="{{ dodaj_izlozak_form.opis.idOpis }}">Opis</label>
                        {{ dodaj_izlozak_form.opis }}
                    </div>
                    <div class="form-group">
                        {{ dodaj_izlozak_form.Grupe.errors }}
                        <label for="{{ dodaj_izlozak_form.grupe.grupeAdd }}">Grupe</label>
                        {{ dodaj_izlozak_form.Grupe }}
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label for="grupaIzloska">Grupa</label>-->
                        <!--<div class="dropdown exibitGroupDropdown" data-name="statuses"-->
                             <!--id="grupaIzloska">-->
                            <!--<button class="btn btn-outline-dark card-btn dropdown-toggle" type="button"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"-->
                                    <!--id="dropdownExibitGroupMenu">-->
                                <!--Izaberite grupu/e<span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" aria-labelledby="dropdownExibitGroupMenu">-->
                                <!--{% for grupa in sveGrupe %}-->
                                    <!--<li>-->
                                        <!--<label class="radio-btn">-->
                                            <!--<input type="checkbox" value='{{ grupa.nazivgrupa }}'>-->
                                            <!--{{ grupa.nazivgrupa }}-->
                                        <!--</label>-->
                                    <!--</li>-->
                                <!--{% endfor %}-->
                                <!--&lt;!&ndash;<li class='text-center'>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type='button' class='btn btn-xs btn-default clear close-dropdown' value='Clear'>Clear</button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type='button' class='btn btn-xs btn-default save' value='Save'>Save</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        {{ dodaj_izlozak_form.slika.errors }}
                        <label for="{{ dodaj_izlozak_form.slika.idSlika }}">Slika</label>
                        {{ dodaj_izlozak_form.slika }}
                    </div>
                    <div class="form-group">
                        {{ dodaj_izlozak_form.zvucnizapis.errors }}
                        <label for="{{ dodaj_izlozak_form.zvucnizapis.idZvucniZapis }}">Zvučni zapis</label>
                        {{ dodaj_izlozak_form.zvucnizapis }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success submit-btn" value="Dodaj izložak">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h3>Dodavanje grupe izložaka</h3>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form" id="addGroupForm" action="{% url 'izlosci:dodaj_grupu' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ add_group_form.nazivgrupa.errors }}
                        <label for="{{ add_group_form.nazivgrupa.nameAddGroup }}">Naziv</label>
                        {{ add_group_form.nazivgrupa }}
                    </div>
                    <div class="form-group">
                        {{ add_group_form.Nadgrupe.errors }}
                        <label for="{{ add_group_form.nadgrupe.nadgrupeAdd }}">Nadgrupe</label>
                        {{ add_group_form.Nadgrupe }}
                        <!--<div class="dropdown nadgrupaDropdown" data-name="statuses" id="nadgrupa">-->
                            <!--<button class="btn btn-outline-dark card-btn dropdown-toggle" type="button"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"-->
                                    <!--id="nadgrupaDropdownMenu">-->
                                <!--Izaberite grupu/e<span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" aria-labelledby="nadgrupaDropdownMenu">-->
                                <!--{% for grupa in sveGrupe %}-->
                                    <!--{% if grupa.idgrupa == grupa.idnadgrupa %}-->
                                        <!--<li>-->
                                            <!--<label class="radio-btn">-->
                                                <!--<input type="checkbox" value='{{ grupa.nazivgrupa }}'>-->
                                                <!--{{ grupa.nazivgrupa }}-->
                                            <!--</label>-->
                                        <!--</li>-->
                                    <!--{% endif %}-->
                                <!--{% endfor %}-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success submit-btn" value="Dodaj grupu izložaka">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="promoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h3>Dodavanje promotivnog materijala</h3>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form role="form" action="{% url 'izlosci:dodaj_promo_materijal' %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ promo_materijal_form.materijal.errors }}
                        <label for="{{ promo_materijal_form.materijal.idMaterijal }}">Promotivni materijal</label>
                        {{ promo_materijal_form.materijal }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success submit-btn"
                               value="Dodaj promotivni materijal">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>