<a class="btn btn-outline-dark fa fa-pencil fa-2x card-btn" role="button"
   href="{% url 'izlosci:uredi_izlozak' izlozak.idizlozak %}" title="Uredi izložak">
</a>
<button class="btn btn-outline-dark fa fa-trash-o fa-2x card-btn" type="button" data-toggle="modal"
        data-target="#deleteExibitModal{{ izlozak.idizlozak }}" title="Obriši izložak">
</button>

<div class="modal fade" id="deleteExibitModal{{ izlozak.idizlozak }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h3>Obriši izložak</h3>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form" action="{% url 'izlosci:obrisi_izlozak' izlozak.idizlozak %}" method="POST">
                    {% csrf_token %}
                    <h5>Jeste li sigurni da želite obrisati izložak <b>{{ izlozak.nazivizlozak }}</b>?</h5>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-danger submit-btn" value="Obriši izložak">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>