{% extends 'base.html' %}

{% load izlosci_extra %}

{% block main %}
<div class="container-fluid">
    <div class="row" id="izlozak-header">
        <h2>{{ izlozak.nazivizlozak }}</h2>
        <a class="btn btn-outline-dark fa fa-play-circle-o fa-2x card-btn"
           href="{% url 'izlosci:reproduciraj' izlozak.idizlozak %}" role="button" title="Poslušaj zvučni zapis"></a>
        {% if user|has_group:'administratori' or user|has_group:'vlasnik' %}
            {% include 'izlosci/adminIzlozakView.html' %}
        {% endif %}
    </div>
    <div class="row">
        <div class="container-fluid image-izlozak">
            <img src="http://35.189.113.190:8000/{{ izlozak.idslika.slika }}" class="rounded left" align="left">
            <p id="opis">
                {{ izlozak.opis }}
            </p>
        </div>
    </div>
</div>
{% endblock %}