{% extends 'base.html' %}

{% load izlosci_extra %}

{% block main %}
<div class="container-fluid card-container">
    <div class="row justify-content-center" style="margin: 0">
        {% if grupa.idgrupa is None %}
            {% for izlozak in sviIzlosci %}
                {% include 'izlosci/karticaIzloska.html' %}
            {% endfor %}
        {% else %}
            {% for izlozak in sviIzlosci %}
                {% if izlozak|dio_grupe:grupa.idgrupa %}
                    {% include 'izlosci/karticaIzloska.html' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}