{% load izlosci_extra %}
<div class="col-lg-5">
    <div class="card border-dark">
        <div class="container-fluid">
            <div class="row">
                <h4 class="card-title">{{ izlozak.nazivizlozak }}</h4>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-4 col-sm-12 text-center image">
                    <img src="http://35.189.113.190:8000/{{ izlozak.idslika.slika }}" class="rounded"/>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-8 col-sm-12">
                    <div class="row description">
                        <p class="card-text">{{ izlozak.opis|truncatechars_html:240 }}</p>
                    </div>
                    <div class="row float-right">
                        <a class="btn btn-outline-dark fa fa-play-circle-o fa-2x card-btn"
                           href="{% url 'izlosci:reproduciraj' izlozak.idizlozak %}"
                           role="button" title="Poslušaj zvučni zapis"></a>
                        <a class="btn btn-outline-dark fa fa-arrow-circle-o-right fa-2x card-btn"
                           href="{% url 'izlosci:izlozak' izlozak.idizlozak %}" role="button"
                           title="Detaljnije o izlošku"></a>
                        {% if user|has_group:'administratori' or user|has_group:'vlasnik' %}
                            {% include 'izlosci/adminIzlozakView.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>