{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 text-center">
            <h4>{{ poruka }}</h4>
            <a class="btn btn-success" href="{% url 'izlosci:izlosci' %}" role="button">U redu</a>
        </div>
    </div>
</div>
{% endblock %}
