{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12">
            <h3 class="text-center" style="padding-bottom: 10px;">Promjena lozinke</h3>
            <form role="form" action="{% url 'izlosci:promijeni_lozinku' %}" method="POST">
                {% csrf_token %}
                {{ promijeni_lozinku_form.non_field_errors }}
                <div class="form-group">
                    {{ promijeni_lozinku_form.old_password.errors }}
                    {{ promijeni_lozinku_form.old_password }}
                </div>
                <div class="form-group">
                    {{ promijeni_lozinku_form.new_password1.errors }}
                    {{ promijeni_lozinku_form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ promijeni_lozinku_form.new_password2.errors }}
                    {{ promijeni_lozinku_form.new_password2 }}
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success submit-btn"
                           value="Promijeni lozinku" style="margin-top: 15px;">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}