{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12">
            <h3 class="text-center" style="padding-bottom: 10px;">Promotivni materijali</h3>
            <ul>
                {% for promoMaterijal in promoMaterijali %}
                    <li>
                        <a href="http://35.189.113.190:8000/{{ promoMaterijal.materijal }}" style="font-size: 20px;">
                            {{ promoMaterijal.materijal|slice:"6:" }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}