{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12">
            <h3 class="text-center" style="padding-bottom: 10px;">Uređivanje osobnih podataka</h3>
            <form role="form" action="{% url 'izlosci:uredi_osobne_podatke' %}" method="POST">
                {% csrf_token %}
                {{ uredi_osobne_podatke_form.non_field_errors }}
                <div class="form-group">
                    {{ uredi_osobne_podatke_form.username.errors }}
                    <label for="{{ uredi_osobne_podatke_form.username.idUsernameRegister }}">Korisničko ime</label>
                    {{ uredi_osobne_podatke_form.username }}
                </div>
                <div class="form-group">
                    {{ uredi_osobne_podatke_form.first_name.errors }}
                    <label for="{{ uredi_osobne_podatke_form.first_name.idFirstName }}">Ime</label>
                    {{ uredi_osobne_podatke_form.first_name }}
                </div>
                <div class="form-group">
                    {{ uredi_osobne_podatke_form.last_name.errors }}
                    <label for="{{ register_form.last_name.idLastName }}">Prezime</label>
                    {{ uredi_osobne_podatke_form.last_name }}
                </div>
                <div class="form-group">
                    {{ uredi_osobne_podatke_form.email.errors }}
                    <label for="{{ uredi_osobne_podatke_form.email.idEmail }}">E-mail</label>
                    {{ uredi_osobne_podatke_form.email }}
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success submit-btn"
                           value="Promijeni podatke" style="margin-top: 15px;">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}