{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12">
            <h3 class="text-center">Uređivanje izloška</h3>
            <form role="form" action="{% url 'izlosci:uredi_izlozak' izlozak.idizlozak %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ uredi_izlozak_form.non_field_errors }}
                <div class="form-group">
                    {{ uredi_izlozak_form.nazivizlozak.errors }}
                    <label for="{{ uredi_izlozak_form.izlozaknaziv.idNazivIzlozak }}{{ izlozak.idizlozak }}">Naziv</label>
                    {{ uredi_izlozak_form.nazivizlozak }}
                </div>
                <div class="form-group">
                    {{ uredi_izlozak_form.opis.errors }}
                    <label for="{{ uredi_izlozak_form.opis.idOpis }}{{ izlozak.idizlozak }}">Opis</label>
                    {{ uredi_izlozak_form.opis }}
                </div>
                <div class="form-group">
                    {{ uredi_izlozak_form.Grupe.errors }}
                    <label for="{{ dodaj_izlozak_form.grupe.grupeAdd }}">Grupe</label>
                    {{ uredi_izlozak_form.Grupe }}
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="grupaIzloskaEdit{{ izlozak.idizlozak }}">Grupa</label>-->
                    <!--<div class="dropdown exibitEditGroupDropdown" data-name="statuses"-->
                         <!--id="grupaIzloskaEdit{{ izlozak.idizlozak }}">-->
                        <!--<button class="btn btn-outline-dark card-btn dropdown-toggle" type="button"-->
                                <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"-->
                                <!--id="dropdownExibitEditGroupMenu{{ izlozak.idizlozak }}">-->
                            <!--Izaberite grupu/e<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu"-->
                            <!--aria-labelledby="dropdownExibitEditGroupMenu{{ izlozak.idizlozak }}">-->
                            <!--{% for grupa in sveGrupe %}-->
                            <!--<li>-->
                                <!--<label class="radio-btn">-->
                                    <!--<input type="checkbox" value='{{ grupa.nazivgrupa }}'>-->
                                    <!--{{ grupa.nazivgrupa }}-->
                                <!--</label>-->
                            <!--</li>-->
                            <!--{% endfor %}-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    {{ uredi_izlozak_form.slika.errors }}
                    <label for="{{ uredi_izlozak_form.slika.idSlika }}{{ izlozak.idizlozak }}">Slika</label>
                    {{ uredi_izlozak_form.slika }}
                </div>
                <div class="form-group">
                    {{ uredi_izlozak_form.zvucnizapis.errors }}
                    <label for="{{ uredi_izlozak_form.zvucnizapis.idZvucniZapis }}{{ izlozak.idizlozak }}">Zvučni zapis</label>
                    {{ uredi_izlozak_form.zvucnizapis }}
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success submit-btn" value="Spremi promjene">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}