<button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal" data-target="#adminModal">
    <span class="fa fa-plus"></span> Dodaj admina
</button>
<button type="button" class="btn btn-outline-dark" aria-hidden="true" data-toggle="modal" data-target="#ovlastModal">
    <span class="fa fa-plus"></span> Dodaj ovlast
</button>