<div class="modal fade" id="adminModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h3>Dodavanje administratora</h3>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form" id="addAdminForm" action="{% url 'izlosci:dodaj_admina' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ add_admin_form.username.errors }}
                        <label for="{{ add_admin_form.username.idUsernameAddAdmin }}">Korisničko ime</label>
                        {{ add_admin_form.username }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success submit-btn" value="Dodaj administratora">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ovlastModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <h3>Dodavanje administratorske ovlasti</h3>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form role="form" action="{% url 'izlosci:ovlast' %}" method="POST">
                    {% csrf_token %}
                    {{ admin_ovlast_form.non_field_errors }}
                    <div class="form-group">
                        {{ admin_ovlast_form.opis.errors }}
                        <label for="{{ admin_ovlast_form.opis.idOpis }}">Opis ovlasti</label>
                        {{ admin_ovlast_form.opis }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success submit-btn" value="Dodaj administratorsku ovlast">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Zatvori
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>