<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Audiseum</title>

    {% load static %}
    {% load izlosci_extra %}

    <link rel="stylesheet" href="{% static 'izlosci/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Cormorant+Garamond:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'izlosci/css/dropdownCheckboxes.min.css' %}">
    <link rel="stylesheet" href="{% static 'izlosci/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'izlosci/css/izlosci.css' %}">
    <link rel="stylesheet" href="{% static 'izlosci/css/izlozak.css' %}">

    {% if user|has_group:'vlasnik' or user|has_group:'administratori' %}
        <link rel="stylesheet" href="{% static 'izlosci/css/adminView.css' %}">
    {% elif user|has_group:'registrirani korisnici' %}
        <link rel="stylesheet" href="{% static 'izlosci/css/registriraniKorisnikView.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'izlosci/css/neregistriraniKorisnikView.css' %}">
    {% endif %}

</head>

<body>
<div class="container-fluid header">
    <div class="row">
        {% if user.is_authenticated == False or user|has_group:'registrirani korisnici' %}
            <div class="col-lg-2 col-md-3 col-sm-3 text-left">
                <div class="input-group search">
                    <input type="text" class="form-control" placeholder="Pretraži...">
                    <span class="input-group-btn">
                        <button class="btn btn-light search-btn" type="button">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        {% endif %}
        {% if user|has_group:'administratori' or user|has_group:'vlasnik' %}
            <div class="col-lg-2 col-md-3 col-sm-3 text-left">
                {% include 'izlosci/adminView.html' %}
            </div>
        {% endif %}

        <div class="col-lg-6 offset-lg-1 col-md-5 offset-md-1 col-sm-4 offset-sm-1 text-center">
            <a class="logo" href="{% url 'izlosci:izlosci' %}">Audiseum</a>
        </div>

        <div class="col-lg-2 offset-lg-1 col-md-2 offset-md-1 col-sm-3 offset-sm-1 login">
            {% if user.is_authenticated == False %}
                <button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#loginModal"
                        id="login">
                    Prijavi se
                </button>
            {% else %}
                <div class="user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-dropdown-toggle">
                        {{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" id="dropdown-elements">
                        <li><a href="{% url 'izlosci:uredi_osobne_podatke' %}">Uredi podatke</a></li>
                        <li><a href="{% url 'izlosci:promijeni_lozinku' %}">Promijeni lozinku</a></li>
                        <li><a href="{% url 'izlosci:odjava' %}">Odjavi se</a></li>
                    </ul>
                </div>
            {% endif %}

            <div class="modal fade" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <a href="#" class="active" id="loginFormLink"><h2>Prijava</h2></a>
                                    </div>
                                    <div class="col-6 text-center">
                                        <a href="#" id="registerFormLink"><h2>Registracija</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="loginForm" action="{% url 'izlosci:login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ login_form.username.errors }}
                                    <label for="{{ login_form.username.idUsernameLogin }}">Korisničko ime</label>
                                    {{ login_form.username }}
                                </div>
                                <div class="form-group">
                                    {{ login_form.password.errors }}
                                    <label for="{{ login_form.password.idPassword }}">Lozinka</label>
                                    {{ login_form.password }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-success submit-btn" value="Prijavi se">
                                </div>
                            </form>

                            <form role="form" id="registerForm" action="{% url 'izlosci:registracija' %}" method="POST">
                                {% csrf_token %}
                                {{ register_form.non_field_errors }}
                                <div class="form-group">
                                    {{ register_form.username.errors }}
                                    <label for="{{ register_form.username.idUsernameRegister }}">Korisničko ime</label>
                                    {{ register_form.username }}
                                </div>
                                <div class="form-group">
                                    {{ register_form.first_name.errors }}
                                    <label for="{{ register_form.first_name.idFirstName }}">Ime</label>
                                    {{ register_form.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ register_form.last_name.errors }}
                                    <label for="{{ register_form.last_name.idLastName }}">Prezime</label>
                                    {{ register_form.last_name }}
                                </div>
                                <div class="form-group">
                                    {{ register_form.email.errors }}
                                    <label for="{{ register_form.email.idEmail }}">E-mail</label>
                                    {{ register_form.email }}
                                </div>
                                <div class="form-group">
                                    {{ register_form.password1.errors }}
                                    <label for="{{ register_form.password1.idLozinka }}">Lozinka</label>
                                    {{ register_form.password1 }}
                                </div>
                                <div class="form-group">
                                    {{ register_form.password2.errors }}
                                    {{ register_form.password2 }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-success submit-btn" value="Registriraj se">
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            aria-label="Close">
                                        Zatvori
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid page-body">
    <div class="row no-gutters">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 sidebar-wrapper">
            {% if user|has_group:'administratori' or user|has_group:'vlasnik' %}
                <div class="btn-statistika">
                    <a class="btn btn-outline-dark" href="{% url 'izlosci:statistika' %}"
                       role="button">Statistika
                    </a>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="promo-materijali">
                <a class="btn btn-outline-dark" href="{% url 'izlosci:promo_materijali' %}"
                   role="button">Promotivni materijali
                </a>
            </div>
            {% endif %}
            <nav class="navbar navbar-light sidebar">
                <span class="navbar-brand" href="#">Izlošci</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse show navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark btn-nav" href="{% url 'izlosci:izlosci' %}">Svi izlošci</a>
                        </li>
                        {% for grupa in sveGrupe %}
                            {% if grupa.idnadgrupa == grupa.idgrupa %}
                                {% if grupa.idgrupa not in grupeSPodgrupama %}
                                    <li class="nav-item">
                                        <a class="btn btn-outline-dark btn-nav"
                                           href="{% url 'izlosci:izlosci_grupa' grupa.idgrupa %}">
                                            {{ grupa.nazivgrupa }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="btn btn-outline-dark btn-nav" role="button"
                                           href="{% url 'izlosci:izlosci_grupa' grupa.idgrupa %}">{{ grupa.nazivgrupa }}
                                        </a>
                                        <a class="btn dropdown-toggle dropdown-toggle-split btn-expand"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for podgrupa in sveGrupe %}
                                                {% if podgrupa.idgrupa != grupa.idgrupa %}
                                                    {% if podgrupa.idnadgrupa == grupa.idgrupa %}
                                                        <li><a class="dropdown-item btn-nav-sub"
                                                           href="{% url 'izlosci:izlosci_grupa' podgrupa.idgrupa %}">
                                                            {{ podgrupa.nazivgrupa }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-7 main-wrapper">
            {% block main %}
            {% endblock %}
        </div>
    </div>
</div>


<script src="{% static 'izlosci/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'izlosci/js/popper.min.js' %}"></script>
<script src="{% static 'izlosci/js/bootstrap.min.js' %}"></script>
<script src="https://use.fontawesome.com/e8145c5cb7.js"></script>
<script src="{% static 'izlosci/js/modal.js' %}"></script>
<script src="{% static 'izlosci/js/dropdownCheckboxes.min.js' %}"></script>
<script src="{% static 'izlosci/js/group-dropdown.js' %}"></script>
<!--<script src="{% static 'izlosci/js/user_dropdown.js' %}"></script>-->

</body>
</html>