<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Audiseum</title>

    {% load static %}

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
</head>

<body>

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#login" class="nav-link active" role="tab" data-toggle="tab" id="loginFormLink"><h2>
                    Prijava</h2></a>
            </li>
            <li class="nav-item">
                <a href="#register" class="nav-link" role="tab" data-toggle="tab" id="registerFormLink"><h2>
                    Registracija</h2></a>
            </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="login">
            <form role="form" id="loginForm" action="{% url 'android:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.username.errors }}
                    <label for="{{ login_form.username.idUsernameLogin }}">Korisničko ime</label>
                    {{ login_form.username }}
                </div>
                <div class="form-group">
                    {{ login_form.password.errors }}
                    <label for="{{ login_form.password.idPassword }}">Lozinka</label>
                    {{ login_form.password }}
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success submit-btn" value="Prijavi se">
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="register">
            <form role="form" id="registerForm" action="{% url 'android:registracija' %}" method="POST">
                {% csrf_token %}
                {{ register_form.non_field_errors }}
                <div class="form-group">
                    {{ register_form.username.errors }}
                    <label for="{{ register_form.username.idUsernameRegister }}">Korisničko ime</label>
                    {{ register_form.username }}
                </div>
                <div class="form-group">
                    {{ register_form.first_name.errors }}
                    <label for="{{ register_form.first_name.idFirstName }}">Ime</label>
                    {{ register_form.first_name }}
                </div>
                <div class="form-group">
                    {{ register_form.last_name.errors }}
                    <label for="{{ register_form.last_name.idLastName }}">Prezime</label>
                    {{ register_form.last_name }}
                </div>
                <div class="form-group">
                    {{ register_form.email.errors }}
                    <label for="{{ register_form.email.idEmail }}">E-mail</label>
                    {{ register_form.email }}
                </div>
                <div class="form-group">
                    {{ register_form.password1.errors }}
                    <label for="{{ register_form.password1.idLozinka }}">Lozinka</label>
                    {{ register_form.password1 }}
                </div>
                <div class="form-group">
                    {{ register_form.password2.errors }}
                    {{ register_form.password2 }}
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success submit-btn" value="Registriraj se">
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>